<div class="container">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">
        <span>
          <i class="nav-icon bi bi-house"></i>
          <span class="nav-text">Home</span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stats" routerLinkActive="active">
        <span>
          <i class="nav-icon bi bi-binoculars"></i>
          <span class="nav-text">Statistics</span>
        </span>
      </a>
    </li>
    <li class="nav-item centerbutton">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        class="nav-link"
        id="centermenubtn"
      >
        <span class="theme-linear-gradient">
          <i class="bi bi-basket size-22"></i>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/myorders" routerLinkActive="active">
        <span>
          <i class="nav-icon bi bi-bag"></i>
          <span class="nav-text">Orders</span>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/wallet" routerLinkActive="active">
        <span>
          <i class="nav-icon bi bi-wallet2"></i>
          <span class="nav-text">Wallet</span>
        </span>
      </a>
    </li>
  </ul>
</div>
