<!-- search -->
<div class="row mb-3">
  <div class="col-12 overflow-hidden">
    <!-- input -->
    <div class="row">
      <div class="col position-relative align-self-center">
        <div class="form-group form-floating mb-3 is-valid">
          <input
            type="text"
            class="form-control"
            value=""
            id="searchmain"
            placeholder="Search"
          />
          <label class="form-control-label" for="searchmain">Search</label>
        </div>
      </div>
      <div class="col-auto align-self-center">
        <button class="btn btn-light btn-44 filter-btn" (click)="filterclick()">
          <i class="bi bi-filter size-22"></i>
        </button>
      </div>
    </div>
  </div>
</div>
