<!-- Header -->
<header #HeaderEl class="header position-fixed bg-theme-round-opac text-white">
  <div class="row">
    <div class="col">
      <div class="logo-small">
        <img src="assets/img/logo.svg" alt="" class="rounded-circle" />
        <h5>EtixPay</h5>
      </div>
    </div>
    <div class="col-auto">
      <a routerLink="/login" target="_self" class="text-white">
        {{ "signIn.setEmail.signIn" | translate }}
      </a>
    </div>
  </div>
</header>
<!-- Header ends -->

<!-- Begin page content -->
<main #mainPage class="container-fluid h-100 theme-light-radial-gradient">
  <div class="row h-100">
    <div
      #mainContainer
      class="col-11 col-sm-11 col-md-6 col-lg-5 col-xl-3 mx-auto align-self-center py-4"
    >
      <h2 class="text-center mb-4">
        <span class="text-secondary fw-light">{{
          "signIn.setCredentials.choose" | translate
        }}</span
        ><br />{{ "signIn.setCredentials.infoPassword" | translate }}
      </h2>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="." />
        <label>{{ "signIn.setCredentials.username" | translate }}</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="." />
        <label>{{ "signIn.setCredentials.password" | translate }}</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" placeholder="." />
        <label>{{ "signIn.setCredentials.confirmPassword" | translate }}</label>
      </div>
    </div>
    <div #FooterEl class="col-11 col-sm-11 mt-auto mx-auto py-4">
      <div class="row">
        <div class="col-12 d-grid">
          <a
            routerLink="/sign-up/promo-code"
            class="btn btn-outline-default btn-lg shadow-sm btn-rounded text-normalcase"
            >{{ "signIn.setCredentials.save" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
